<section class="page-contain">
  <section class="con1">
    <div class="data-card">
      <h3>Basic Info</h3>
      <img src={{user.avatar}} class="card__image" alt="" />
      <ul>
        <h4>{{user.firstName}} <div *ngIf="user.middleName != null">{{user.middleName}}.</div> {{user.lastName}}</h4>
        <li *ngIf="user.preferredName != null">Preferred Name: {{user.preferredName}}</li>
        <li>Date of Birth: {{user.DOB}}</li>
        <li>Age: {{age}}</li>
        <li>Gender: {{user.gender}}</li>
        <li>SSN: {{user.ssn}}</li>
        <li>Driver License: {{user.driverLicense}}</li>
        <li>Driver License exp: {{user.driverLicense_ExpirationDate}}</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="data-card">
      <h3>Address</h3>
      <ul>
        <li>Primary Address: {{user.addresses[0].addressline1}}, {{user.addresses[0].addressline2}},
            {{user.addresses[0].city}}, {{user.addresses[0].state}}, {{user.addresses[0].zipcode}}</li>
        <div *ngIf="user.addresses[1] != null">
          <li>
            Secondary Address: {{user.addresses[1].addressline1}}, {{user.addresses[1].addressline2}},
            {{user.addresses[1].city}}, {{user.addresses[1].state}}, {{user.addresses[1].zipcode}}
          </li>
        </div>
      </ul>
    </div>
    <div class="data-card">
      <h3>Contact</h3>
      <ul>
        <li>Personal Email: {{user.email}}</li>
        <li>CellPhone: {{user.cellphone}}</li>
        <li>Work Phone: {{user.alternatePhone}}</li>
      </ul>
    </div>
  </section>
  <section>
    <div class="data-card">
      <h3>Employment</h3>
      <ul>
        <li>Work Authorization: {{user.employment.workAuthorization}} </li>
        <li>From {{user.employment.authorizationStartDate}} till {{user.employment.authorizationEndDate}}</li>
        <li>Employment Title: {{user.employment.title}}</li>
        <li>From {{user.employment.employmentStartDate}} till {{user.employment.employmentEndDate}}</li>
      </ul>
    </div>
    <div class="data-card">
        <h3>Emergency Contact</h3>
        <ul>
          <li>Full Name: {{user.contact.name}}</li>
          <li>Phone: {{user.contact.phone}}</li>
          <li>Address: {{user.contact.address}}</li>
          <li>Relationship: {{user.contact.relationship}}</li>
        </ul>
      </div>
  </section>
  <section>
    <div class="data-card">
      <div *ngFor="let d of user.documents">
        <h3>Documents</h3>
        <ul>
          <li>Icon: {{d.name}}</li>
          <li>Mame: {{d.icon}}</li>
        </ul>
      </div>
    </div>
  </section>
</section>
