<div class="container">
	<!-- code here -->
	<div class="card">
		<div class="card-image">
			<h2 class="card-heading">
				Send Sign Up token
			</h2>
		</div>
		<form class="card-form" [formGroup]="singUpform" (ngSubmit)="onSubmit(singUpform)">
			<div class="input">
				<input type="text" class="input-field" required/>
				<label class="input-label">Employee Email</label>
			</div>
		</form>
    <div class="action">
      <button class="action-button" type="submit">Get started</button>
    </div>
		<div class="card-info">
			<p>Sending to this email to sign up</p>
		</div>
	</div>
</div>