<body>
  <div class="container">

    <figure class="card card--2" style="--image-src: url('https://source.unsplash.com/78A265wPiO4')">
      <figcaption>
        <span class="info">
          <h3>User Home</h3>
        </span>
        <span class="links">
          <a routerLink="/user" routerLinkActive="active">Login</a>
          <a href="https://unsplash.com/photos/78A265wPiO4" target="_blank"><i class="fas fa-share"></i></a>
        </span>
      </figcaption>
    </figure>

    <figure class="card card--2" style="--image-src: url('https://source.unsplash.com/TFyi0QOx08c')">
      <figcaption>
        <span class="info">
          <h3>HR Home</h3>
        </span>
        <span class="links">
          <a routerLink="/hr" routerLinkActive="active">Login</a>
          <a href="https://unsplash.com/photos/TFyi0QOx08c" target="_blank"><i class="fas fa-share"></i></a>
        </span>
      </figcaption>
    </figure>
  </div>
  <div class="support">
    <a href="https://twitter.com/DevLoop01" target="_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://dribbble.com/devloop01" target="_blank"><i class="fab fa-dribbble"></i></a>
  </div>
</body>
