<section class="page-contain">
  <section class="con1">
    <a href="#" class="data-card" type="button" data-bs-toggle="modal" data-bs-target="#BasicInfoBackdrop">
      <h3>Basic Info</h3>
      <img src={{user.avatar}} class="card__image" alt="" />
      <ul>
        <h4>{{user.firstName}} <div *ngIf="user.middleName != null">{{user.middleName}}.</div> {{user.lastName}}</h4>
        <li>Date of Birth: {{user.dob}}</li>
        <li>Age: {{age}}</li>
        <li>Gender: {{user.gender}}</li>
        <li type=password>SSN: {{user.ssn}}</li>
        <li>Driver License: {{user.driverLicense}}</li>
        <li>Driver License exp: {{user.driverLicenseExpirationDate}}</li>
      </ul>
      <span class="link-text">
        Edit
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
  </section>
  <section>
    <a href="#" class="data-card" type="button" data-bs-toggle="modal" data-bs-target="#AddressBackdrop">
      <h3>Address</h3>
      <ul>
        <li>Primary Address: {{user.addressList[0].addressLine1}}, {{user.addressList[0].addressLine2}},
            {{user.addressList[0].city}}, {{user.addressList[0].state}}, {{user.addressList[0].zipcode}}</li>
        <div *ngIf="user.addressList[1] != null">
          <li>
            Secondary Address: {{user.addressList[1].addressLine1}}, {{user.addressList[1].addressLine2}},
            {{user.addressList[1].city}}, {{user.addressList[1].state}}, {{user.addressList[1].zipcode}}
          </li>
        </div>
      </ul>
      <span class="link-text">
        Edit
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
    <a href="#" class="data-card" type="button" data-bs-toggle="modal" data-bs-target="#ContactBackdrop">
      <h3>Contact</h3>
      <ul>
        <li>Email: {{user.email}}</li>
        <li>CellPhone: {{user.cellPhone}}</li>
        <li>Alternate Phone: {{user.alternatePhone}}</li>
      </ul>
      <span class="link-text">
        Edit
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
  </section>
  <section>
    <a href="#" class="data-card" type="button" data-bs-toggle="modal" data-bs-target="#EmploymentBackDrop">
      <h3>Employment</h3>
      <ul>
        <li>Work Authorization: {{user.employment.visaType}} </li>
        <li>From {{user.employment.visaStartDate}} till {{user.employment.visaEndDate}}</li>
        <li>Employment Title: {{user.employment.title}}</li>
        <li>From {{user.employment.startDate}} till {{user.employment.endDate}}</li>
      </ul>
      <span class="link-text">
        Edit
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
      <a href="#" class="data-card" type="button" data-bs-toggle="modal" data-bs-target="#EmergencyContactBackdrop">
        <h3>Emergency Contact</h3>
        <div *ngFor="let d of user.contact">
        <ul>
          <li>Full Name: {{d.name}}</li>
          <li>Phone: {{d.phone}}</li>
          <li>Address: {{d.address}}</li>
          <li>Relationship: {{d.relationship}}</li>
        </ul>
      </div>
        <span class="link-text">
          Edit
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
          </svg>
        </span>
      </a>
  </section>
  <section>
    <a href="#" class="data-card" type="button" data-bs-toggle="modal" data-bs-target="#DocBackdrop">
      <h3>Documents</h3>
      <div *ngFor="let d of user.documents">
        <ul>
          <a href="{{d.path}}">
            <img alt="Qries" src="src/app/Document-Icon-Graphics.jpg" width="150" height="70">
          </a>
          <li>Name: {{d.title}}</li>
        </ul>
    </div>
      <span class="link-text">
        Edit
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
  </section>
</section>

<div class="modal fade" id="BasicInfoBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Basic Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="basicForm" class="card-form" (ngSubmit)='submitBasic(basicForm)'>
        <div class="modal-body">
          <div class="input">
            <input type="text" class="input-field" formControlName="firstName" required/>
            <label class="input-label">First Name</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="lastName" required/>
            <label class="input-label">Last Name</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="middleName" required/>
            <label class="input-label">middleName</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="preferredName" required/>
            <label class="input-label">preferredName</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="avatar"required/>
            <label class="input-label">Avatar Link</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="dob" required/>
            <label class="input-label">Date of Birth (MM-DD-YY)</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="gender" required/>
            <label class="input-label">Gender</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="ssn" required/>
            <label class="input-label">SSN</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="driverLicense" required/>
            <label class="input-label">Driver License Number</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="driverLicense_ExpirationDate" required/>
            <label class="input-label">Driver License Expiration Date</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="AddressBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Addresses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="addressForm" class="card-form" (ngSubmit)="submitAddress(addressForm)">
        <div class="modal-body">
          <div formArrayName="addresses" *ngFor="let address of getAddresses().controls; let i = index">
            <div [formGroupName]="i">
              <p>Address {{i + 1}}</p>
            <div class="input">
              <input type="text" class="input-field" formControlName="addressLine1" required/>
              <label class="input-label">Line 1</label>
            </div>
            <div class="input">
              <input type="text" class="input-field" formControlName="addressLine2" required/>
              <label class="input-label">Line 2</label>
            </div>
            <div class="input">
              <input type="text" class="input-field" formControlName="city" required/>
              <label class="input-label">City</label>
            </div>
            <div class="input">
              <input type="text" class="input-field" formControlName="state" required/>
              <label class="input-label">State</label>
            </div>
            <div class="input">
              <input type="text" class="input-field" formControlName="zipcode" required/>
              <label class="input-label">Zipcode</label>
            </div>
            <hr class='rounded'>
            </div>
          </div>
          <button class="btn btn-primary" (click)="addAddresses()">Add Address</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="ContactBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="contactForm" class="card-form" (ngSubmit)='submitContact(contactForm)'>
        <div class="modal-body">
          <div class="input">
            <input type="text" class="input-field" formControlName="cellPhone" required/>
            <label class="input-label">CellPhone</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="workPhone" required/>
            <label class="input-label">Alternate Phone</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="email" required/>
            <label class="input-label">Email</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="workEmail" required/>
            <label class="input-label">Work Email</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="EmploymentBackDrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Employment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="employmentForm" class="card-form" (ngSubmit)='submitEmployment(employmentForm)'>
        <div class="modal-body">
          <div class="input">
            <input type="text" class="input-field"  formControlName="visaType" required/>
            <label class="input-label">Work Authorization</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="visaStartDate" required/>
            <label class="input-label">Authorization Start Date (MM-DD-YY)</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="visaEndDate" required/>
            <label class="input-label">>Authorization End Date (MM-DD-YY)</label>
          </div>
          <div class="input">
            <input type="text" class="input-field"  formControlName="title" required/>
            <label class="input-label">Title</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="startDate" required/>
            <label class="input-label">Employment Start Date (MM-DD-YY)</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="endDate" required/>
            <label class="input-label">Employment End Date (MM-DD-YY)</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="EmergencyContactBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Emergency Contact</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="emergencyForm" class="card-form" (ngSubmit)='submitEmergency(emergencyForm)'>
        <div class="modal-body">
          <div class="input">
            <input type="text" class="input-field"  formControlName="name" required/>
            <label class="input-label">Name</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="phone" required/>
            <label class="input-label">Phone</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="address" required/>
            <label class="input-label">Address</label>
          </div>
          <div class="input">
            <input type="text" class="input-field" formControlName="relationship" required/>
            <label class="input-label">Relationship</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="DocBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Documents</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div> -->